input[type=search],
input[type=text],
textarea
  border: 1px solid $light-blue
  border-radius: rhythm(0.5)
  box-sizing: border-box
  padding: rhythm(0.3)
  width: 100%

  &:focus
    outline: none

  +placeholder
    color: $light-blue

button,
input[type=submit]
  background-color: $dark-blue
  border: none
  border-radius: rhythm(0.5)
  box-sizing: border-box
  color: $white
  padding: rhythm(0.5)